{% extends 'admin.html' %}
{% block title %}technicien - modifier {% endblock title %}

{% block content %}
    
        {% csrf_token %}
        <div class='container-md mt-5'>
            {% if emailNotOk %}
            <div class="alert alert-info"> {{emailNotOk}} </div>
            {% endif %}
            {% if errorTel %}
                <div class="alert alert-danger"> {{errorTel}} </div>
            {% endif %}
            {% if errorFirstname %}
                <div class="alert alert-danger"> {{errorFirstname}} </div>
            {% endif %}
            {% if errorLastname %}
                <div class="alert alert-danger"> {{errorLastname}} </div>
            {% endif %}
            <div class="row">
                <form action="#" method="POST">
                    {% csrf_token %}
                    {% comment %}  {% endcomment %}
                    <div class="bg-light p-3 text-dark">
                        <div class="row">
                            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
                                <h2 style='text-shadow:#000 1px 1px 1px;font-style:italic'>Modifier Technicien</h2>
                                <hr>
                                {{formEdit.as_p}}
                                <!-- Button trigger modal -->
                                
                                <hr>
                                <p class='text-center'>
                                    <a href='{% url 'gestion_technician' %}' class='btn btn-secondary btn-lg'>annuler</a>
                                    <button type='submit' class='btn btn-outline-secondary btn-lg'>modifier technicien</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% comment %}  {% endcomment %}
                </form>
            </div>

            </div>

        </div>    
    
{% endblock content %}
